JSP/guestbook/WebContent/wsdl/HelloWorldImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.mkyong.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.mkyong.com" xmlns:intf="http://ws.mkyong.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.mkyong.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getHelloWorldAsString">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getHelloWorldAsStringResponse">
    <complexType>
     <sequence>
      <element name="getHelloWorldAsStringReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getHelloWorldAsStringResponse">

      <wsdl:part element="impl:getHelloWorldAsStringResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getHelloWorldAsStringRequest">

      <wsdl:part element="impl:getHelloWorldAsString" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloWorldImpl">

      <wsdl:operation name="getHelloWorldAsString">

         <wsdl:input message="impl:getHelloWorldAsStringRequest" name="getHelloWorldAsStringRequest">

       </wsdl:input>

         <wsdl:output message="impl:getHelloWorldAsStringResponse" name="getHelloWorldAsStringResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldImplSoapBinding" type="impl:HelloWorldImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getHelloWorldAsString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHelloWorldAsStringRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHelloWorldAsStringResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldImplService">

      <wsdl:port binding="impl:HelloWorldImplSoapBinding" name="HelloWorldImpl">

         <wsdlsoap:address location="http://localhost:8080/guestbook/services/HelloWorldImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
